Repository 4kClinton/Swyft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

added browser router
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  package-lock.json
  package.json
  src/App.jsx
  src/Components/Dash.jsx
  src/Components/Map.jsx
  src/Components/driverDetails.jsx
  src/Redux/Reducers/DriverDetailsSlice.js
  src/Redux/Store.js
  src/main.jsx
  src/routes.jsx
  src/tests/testing.test.js
Due: eslint --fix

added browser router
  vercel.json
Due: none

Implementation on ride history
  src/Components/MyRides.jsx
Due: eslint --fix

Order confirmation
  src/Components/Dash.jsx
Due: eslint --fix

removed unused variables
  .lintstagedrc
  package-lock.json
  package.json
  src/App.css
  src/Styles/Account.css
  src/Styles/Calendar.css
  src/Styles/ConfirmationPopup.css
  src/Styles/Dash.css
  src/Styles/DriverDetails.css
  src/Styles/LoadingScreen.css
  src/Styles/Login.css
  src/Styles/Map.css
  src/Styles/Navbar.css
  src/Styles/Navigation.css
  src/Styles/Popup.css
  src/Styles/PopupTutorial.css
  src/Styles/Ratings.css
  src/Styles/SearchBar.css
  src/Styles/Settings.css
  src/Styles/findDriver.css
  src/Styles/orderLoader.css
  src/index.css
Due: stylelint --fix

updated workflow
  .github/workflows/ci.yml
Due: none

updates rides history to fix e.map error
  src/Components/MyRides.jsx
Due: eslint --fix

updates rides history
  package-lock.json
  package.json
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/Map.jsx
  src/Components/MyRides.jsx
  src/Components/OrderCompletion.jsx
  src/Components/Rating.jsx
  src/Components/RideDetailsModal.jsx
  src/Components/SearchBar.jsx
  src/Components/SuccessPopup.jsx
  src/Components/driverDetails.jsx
  src/Redux/Reducers/ordersHistorySlice.js
  src/Redux/Store.js
  src/Styles/Map.css
  src/Styles/Rides.module.css
  src/Styles/orderCompletion.css
  src/assets/flatbed.png
  src/assets/lorry.png
  src/assets/miniTruck.png
  src/routes.jsx
Due: eslint --fix, stylelint --fix

fixed historyPage
  src/App.jsx
  src/Components/MyRides.jsx
Due: eslint --fix

fixed bugs on dash
  src/Components/Dash.jsx
Due: eslint --fix

Dashboard fix
  src/Components/Dash.jsx
Due: eslint --fix

updates customer
  src/App.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/SignUp.jsx
  src/Components/SuccessPopup.jsx
Due: eslint --fix

dont merge this
  package-lock.json
  src/Components/Dash.jsx
  src/Components/FindDriver.jsx
  src/Components/LoaderPopup.jsx
  src/Components/Navbar.jsx
  src/Components/SuccessPopup.jsx
  src/Styles/Calendar.css
  src/Styles/Dash.css
  src/Styles/findDriver.css
Due: eslint --fix, stylelint --fix

updated firebase
  firebase.js
Due: none

updated app to use cookies
  package-lock.json
  package.json
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/Logout.jsx
  src/Components/Navbar.jsx
  src/Components/OrderCompletion.jsx
  src/Components/PrivateRoute.jsx
  src/Components/SignUp.jsx
  src/Components/axiosInstance.jsx
  src/Components/driverDetails.jsx
  src/contexts/UserContext.jsx
Due: eslint --fix

updated app to use cookies
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/GoogleLogin.jsx
  src/Components/Login.jsx
  src/Components/Navbar.jsx
  src/Components/OrderCompletion.jsx
  src/Components/SignUp.jsx
  src/Components/axiosInstance.jsx
  src/Components/driverDetails.jsx
  src/contexts/UserContext.jsx
Due: eslint --fix

updated
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/OrderCompletion.jsx
  src/Components/ScheduledRides.jsx
  src/Components/SignUp.jsx
  src/Components/axiosInstance.jsx
  src/Components/driverDetails.jsx
Due: eslint --fix

OTP implementation
  src/Components/Login.jsx
Due: eslint --fix

Test
  src/Components/Login.jsx
Due: eslint --fix

Otp implementation test
  src/Components/Login.jsx
Due: eslint --fix

added Google Auth(still doesnt have access)
  .gitignore
  firebase.js
  package-lock.json
  package.json
  src/Components/Dash.jsx
  src/Components/GoogleLogin.jsx
  src/Components/Login.jsx
  src/Components/Logout.jsx
  src/Components/Navbar.jsx
  src/Components/OrderCompletion.jsx
  src/Components/PhoneVerification.jsx
  src/Components/PrivateRoute.jsx
  src/Components/SignUp.jsx
  src/Components/SuccessPopup.jsx
  src/Components/driverDetails.jsx
  src/Styles/GoogleLogin.css
  src/Styles/Login.css
  src/Styles/Navbar.css
  src/assets/gooogle.png
  src/assets/introPic.png
  src/routes.jsx
Due: eslint --fix, stylelint --fix

Nelson and Clinton merger
  src/Components/Login.jsx
  src/Components/PhoneVerification.jsx
  src/Components/SignUp.jsx
Due: eslint --fix

added manifest.json & Nav Sliding
  index.html
  public/icons/icon-192x192.png
  public/manifest.json
  src/Components/Account.jsx
  src/Components/Navbar.jsx
  src/Styles/Account.css
  src/Styles/Navbar.css
Due: eslint --fix, stylelint --fix

fixed unexpected dash slide problem
  src/Components/Dash.jsx
Due: eslint --fix

removed dash redirect in nav
  src/Components/Navbar.jsx
Due: eslint --fix

fix cookies
  src/Components/Login.jsx
Due: eslint --fix

fixing conflicts
  src/Components/SignUp.jsx
Due: eslint --fix

fixing conflicts
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/OrderCompletion.jsx
  src/Components/ScheduledRides.jsx
  src/Components/SignUp.jsx
  src/Components/axiosInstance.jsx
  src/Components/driverDetails.jsx
Due: eslint --fix

updated
  src/App.jsx
  src/Components/Account.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/Navbar.jsx
Due: eslint --fix

PWA Implementation
  index.html
  manifest.json
  src/main.jsx
  sw.js
Due: eslint --fix

PWA implementation
  manifest.json
Due: none

updates
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/OrderCompletion.jsx
  src/Components/ScheduledRides.jsx
  src/Components/SignUp.jsx
  src/Components/axiosInstance.jsx
  src/Components/driverDetails.jsx
Due: eslint --fix

PWA Implementation
  manifest.json
  src/assets/Picture2.png
Due: none

PWA implementation
  manifest.json
  src/assets/Icon1.png
  src/assets/Picture4.png
  src/assets/Untitled.png
Due: none

Path conditions:
  eslint --fix: any of: *.jsx
  stylelint --fix: any of: *.css
