Repository 4kClinton/Swyft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

PWA implementation
  manifest.json
Due: none

PWA implementation fix
  public/sw.js
  vercel.json
Due: none

PWA implementation fix
  public/manifest.json
Due: none

PWA implementation fix
  public/icons/Icon1.png
  public/icons/Picture2.png
  public/icons/Picture4.png
  public/icons/Untitled.png
  public/icons/swyft-logo.png
  public/manifest.json
Due: none

PWA implementation fix on manifest.json
  vercel.json
Due: none

PWA implementation fixes
  public/icons/Icon2.png
  public/manifest.json
Due: none

fixed navigation bug
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/SignUp.jsx
Due: eslint --fix

PWA implementation fixes
  index.html
Due: none

PWA implementation start_url fix
  public/manifest.json
Due: none

fixed bugs
  src/App.jsx
  src/Components/Account.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/Navbar.jsx
  src/Components/OrderCompletion.jsx
  src/Components/ScheduledRides.jsx
  src/Components/SignUp.jsx
  src/Components/axiosInstance.jsx
  src/Components/driverDetails.jsx
  src/contexts/UserContext.jsx
Due: eslint --fix

updates
  src/App.jsx
Due: eslint --fix

Updated current order filter
  src/App.jsx
Due: eslint --fix

updated vercel.json
  src/App.jsx
Due: eslint --fix

updated vercel.json
  vercel.json
Due: none

updates
  vercel.json
Due: none

added google api
  src/Components/Dash.jsx
  src/Components/DateTimePopup.jsx
  src/Styles/Calendar.css
  src/Styles/Dash.css
  src/Styles/Rides.module.css
  src/assets/unahama  (1).png
  src/assets/unahama.png
Due: eslint --fix, stylelint --fix

Adjustement to pricing rate & SPA routing
  src/Components/Dash.jsx
  vercel.json
Due: eslint --fix

Comeback UI
  package-lock.json
  package.json
  src/App.css
  src/Components/Dash.jsx
  src/Components/FindDriver.jsx
  src/Components/Map.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/SuccessPopup.jsx
  src/Components/driverDetails.jsx
  src/Styles/Dash.css
  src/Styles/OrderDetailsConfirmation.css
  src/Styles/findDriver.css
  src/assets/10T-Lorry.jpg
  src/assets/Map.jpg
  src/assets/Tipper.jpg
  src/assets/Towin.jpg
  src/assets/TukTuk.jpg
  src/assets/van.jpg
  src/routes.jsx
Due: eslint --fix, stylelint --fix

fixed html
  public/index.html
Due: none

changed logo
  index.html
  public/icons/swyft-Logo-landing-page.png
  public/index.html
  public/manifest.json
  src/Components/OrderDetailsConfirmation.jsx
Due: eslint --fix

html manifest link
  index.html
Due: none

disabled pull-to-refresh
  index.html
  src/App.css
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Styles/Dash.css
Due: eslint --fix, stylelint --fix

disabled pull-to-refresh
  src/Components/Dash.jsx
  src/Styles/Dash.css
Due: eslint --fix, stylelint --fix

disabled pull-to-refresh
  src/Components/Dash.jsx
Due: eslint --fix

manifest settings
  public/manifest.json
  src/Components/Dash.jsx
Due: eslint --fix

update feature-updates
  src/App.jsx
  src/Components/Dash.jsx
  src/Components/FindDriver.jsx
  src/Components/Navbar.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/driverDetails.jsx
  src/Styles/DriverDetails.css
  src/Styles/Navbar.css
  src/Styles/OrderDetailsConfirmation.css
Due: eslint --fix, stylelint --fix

update feature-updates
  src/App.jsx
  src/Components/OrderDetailsConfirmation.jsx
Due: eslint --fix

last last
  src/Components/Dash.jsx
  src/Components/FindDriver.jsx
  src/Components/driverDetails.jsx
  src/Styles/Dash.css
  src/Styles/findDriver.css
Due: eslint --fix, stylelint --fix

Cleared Git cache
  .husky/pre-commit
  public/sw.js
Due: none

slight changes
  src/Components/Dash.jsx
  src/Components/SearchBar.jsx
  src/Styles/findDriver.css
Due: eslint --fix, stylelint --fix

handled no driver go back
  src/App.css
  src/App.jsx
Due: eslint --fix, stylelint --fix

install popup
  src/Components/FindDriver.jsx
  src/Components/Login.jsx
  src/Components/SignUp.jsx
Due: eslint --fix

install popup
  src/Components/SignUp.jsx
Due: eslint --fix

install popup
  src/App.jsx
  src/Components/SignUp.jsx
Due: eslint --fix

price updates and dash changes
  src/App.css
  src/index.css
Due: stylelint --fix

removed dark mode
  src/Components/Settings.jsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.jsx
  stylelint --fix: any of: *.css
