Repository 4kClinton/Swyft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

removed dark mode
  src/Components/Dash.jsx
  src/Styles/findDriver.css
Due: eslint --fix, stylelint --fix

fixed mime type error
  src/App.jsx
  vercel.json
Due: eslint --fix

fixed mime type error
  public/sw.js
Due: none

fixed mime type error
  vercel.json
Due: none

fixed search not rendering on back bug & rerendering bug
  public/sw.js
  src/App.jsx
  src/Components/Dash.jsx
  src/Components/OrderDetailsConfirmation.jsx
Due: eslint --fix

lorry image correction
  src/Components/OrderDetailsConfirmation.jsx
Due: eslint --fix

added sorter
  src/Components/Dash.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/SortingTabs.jsx
  src/Styles/SortingTabs.css
  src/assets/5tonne.png
  src/assets/Electric.png
  src/assets/moti.png
  src/assets/nduthi.png
Due: eslint --fix, stylelint --fix

Parcels coming soon
  src/Components/Dash.jsx
Due: eslint --fix

Task 2
  src/Components/Dash.jsx
Due: eslint --fix

Order implementation
  src/Components/Dash.jsx
  src/Components/FindDriver.jsx
  src/Components/OrderDetailsConfirmation.jsx
Due: eslint --fix

Order working
  src/Components/FindDriver.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/driverDetails.jsx
Due: eslint --fix

OTP Transfer & Order Completion Redux
  src/Components/Dash.jsx
  src/Components/Login.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/SignUp.jsx
  src/Components/driverDetails.jsx
Due: eslint --fix

Client signup otp added and login otp removed
  src/Components/Login.jsx
  src/Components/SignUp.jsx
Due: eslint --fix

Fix on user signup bug
  src/Components/SignUp.jsx
Due: eslint --fix

added resend and fixed car rescue pic
  src/Components/SignUp.jsx
Due: eslint --fix

removed stale data
  public/manifest.json
  src/App.css
  src/App.jsx
  src/Components/CancelOrderPopup.jsx
  src/Components/Dash.jsx
  src/Components/DateTimePopup.jsx
  src/Components/FindDriver.jsx
  src/Components/FindHouse.jsx
  src/Components/Map.jsx
  src/Components/MyRides.jsx
  src/Components/OrderCompletion.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/SignUp.jsx
  src/Components/SuccessPopup.jsx
  src/Components/TripTracker.jsx
  src/Components/driverDetails.jsx
  src/Components/loaderPulse.jsx
  src/Styles/Account.css
  src/Styles/Dash.css
  src/Styles/DriverDetails.css
  src/Styles/LoadingScreen.css
  src/Styles/Login.css
  src/Styles/OrderDetailsConfirmation.css
  src/Styles/Popup.css
  src/Styles/Rides.module.css
  src/Styles/SearchBar.css
  src/Styles/Settings.css
  src/Styles/SortingTabs.css
  src/Styles/findDriver.css
  src/Styles/loaderPulse.css
  src/Styles/orderCompletion.css
  src/Styles/orderLoader.css
  src/index.css
Due: eslint --fix, stylelint --fix

fixed order cancellation issue
  src/App.jsx
  src/Components/FindDriver.jsx
Due: eslint --fix

Updated Whatsapp Schedulling in OrderDetailsConfirmation.jsx
  src/Components/OrderDetailsConfirmation.jsx
Due: eslint --fix

Update OrderDetailsConfirmation.css
  src/Styles/OrderDetailsConfirmation.css
Due: stylelint --fix

beginning
  # Code Citations.md
  db.json
  index.html
  package-lock.json
  package.json
  public/manifest.json
  src/App.jsx
  src/Components/OrderDetailsConfirmation.jsx
  src/Components/T&C.jsx
  src/Styles/OrderDetailsConfirmation.css
  vite.config.js
Due: eslint --fix, stylelint --fix

Added Swyft Housing
  src/Components/FindHouse.jsx
Due: eslint --fix

moved find a house a bit lower
  src/Components/Navbar.jsx
Due: eslint --fix

Changed Cargo to transport
  src/Components/SortingTabs.jsx
Due: eslint --fix

Maps Changes
  src/Components/Map.jsx
Due: eslint --fix

removed otp from login
  src/Components/Login.jsx
Due: eslint --fix

Removed Parcels,added moving rates & simplified Maps
    Components/    Dash.jsx         # Fix useMemo dependency warning and remove unused handleCancelOrder
    Components/    driverDetails.jsx # Fix useEffect dependency warning
  package-lock.json
  package.json
  src/Components/Dash.jsx
  src/Components/FindHouse.jsx
  src/Components/InvoiceComponent.jsx
  src/Components/Map.jsx
  src/Components/Navbar.jsx
  src/Components/OrderCompletion.jsx
  src/Components/SortingTabs.jsx
  src/Components/driverDetails.jsx
  vite.config.js
Due: eslint --fix

Update Dash.jsx from 5000 - 3000
  src/Components/Dash.jsx
Due: eslint --fix

added FindHouse & Sceduling
  package-lock.json
  package.json
  src/App.jsx
  src/Components/FindHouse.jsx
  src/Components/FindHouseDetail.jsx
  src/Components/Navbar.jsx
  src/Styles/Dash.css
  src/Styles/FindHouse.css
  src/Styles/LoadingScreen.css
  src/assets/fallback.jpeg
  src/main.jsx
  src/routes.jsx
  vite.config.js
Due: eslint --fix, stylelint --fix

added FindHouse & Scheduling & changed +3000 to +4000
  src/Components/Dash.jsx
Due: eslint --fix

removed scorlling from closed .FindHseDash
  src/Styles/Dash.css
Due: stylelint --fix

Added plan a move & frequency
  src/Components/FindHouseDetail.jsx
  src/Styles/Dash.css
Due: eslint --fix, stylelint --fix

added cursor rules
  .cursor/rules/swyft-project.md
  package-lock.json
Due: none

Update index.html - added google analytics
  index.html
Due: none

Path conditions:
  eslint --fix: any of: *.jsx
  stylelint --fix: any of: *.css
